.outCr {
    min-height: 75px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    display: flex;
    align-items: stretch;
    
    &__img {
        width: 200px;
        min-width: 75px;
        border-right: 1px solid gray;
        
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        
        background-position: center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        .modal-trigger {
            min-height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3em;
            transition: background-color 0.5s;
            
            svg path{
                stroke: rgba(0, 0, 0, 0.582);
                transition: stroke 0.5s;
            }
            
            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
                
                svg path{
                    stroke:rgb(0, 0, 0);
                }
            }
        }
    }

    .row {
        margin-bottom: 0;
        
        &.right {
            padding-left: 0.8em;
            width: 100%;
            
            .input-field {
                margin-bottom: 0;
                margin-top: 0.8em;
                padding-right: 0.5em;            
            }
        }
    }
    
    &__name {
        font-size: 1.5em !important;
    }
    
    span {
        font-size: 1.4em;
        margin-top: 0.1em;
        margin-right: 0.3em;
    }

    &__price {
        display: flex;
        padding: 0;
        padding-left: 0.5em !important;

        input {
            font-size: 1.4em !important;
            // margin-right: 0.5em !important;
        }
    }
    
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
    
    &__add {
        width: 75px;
        min-width: 75px;
        margin-left: auto;
        
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, 0.582);
        transition: color 0.5s, background-color 0.5s;
        
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            color:rgb(0, 0, 0);
        }
        
        i {
            font-size: 2.5em;
        }
    }
}
