
// .nav {
//     display: flex;
//     justify-content: space-between;
// }

.navbar-fixed {
    .pages-ul {
        li {
            font-weight: 500;
        }
    }
}

.logo-img {
    max-height: 30px;
    margin-top: 15px;
}

.user-view {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 16px !important;
}

.profile-side {
    flex-direction: column;
}

.profile-side .circle {
    padding: 0 !important;
    width: 100px !important;
    height: 100px !important;
}

.profile-side .name {
    margin: 10px 20px 0 !important;
    font-size: 25px !important;
}


.profile-side .googleLogout {
    margin-top: 15px !important;
    height: 30px;
}

.googleLogout {
    border-radius: 4px !important;
    /* margin-top: 15px !important; */
    display: flex;
    align-items: center;
    padding: 0 8px !important;
}

.googleLogout * {
    padding: 0 !important;
}

.profile .googleLogout {
    font-size: 17px;
    height: auto;
    padding: 0 5px 0 !important;
    margin-top: 3px !important;
    margin-bottom: 2px !important;
    transform: scale(0.8) translate(-17px, 0px);
}

.googleLogout div {
    margin-right: 6px;
    padding-top: 3px !important;
}

li.profile {
    display: flex;
    align-items: center;
    padding-left: 18px;
    margin-left: 10px;
    font-size: 20px;
    border-left: 4px solid #49a2ff;
    cursor: default;
    height: 64px;
}

li.profile img {
    height: 45px;
    width: 45px;
    margin: 0 15px;
}

#mobile-demo .googleLogin {
    border-radius: 7px !important;
    padding: 0 6px !important;
    font-size: 18px !important;
}

#mobile-demo .googleLogin > div {
    padding: 2px 11px 0 8px !important;
    margin: 0 !important;
}

.sessionLi .googleLogin {
    transform: scale(0.9) translate(-10px, 2px) !important;
    margin-left: 15px !important;
}

.sessionLi .googleLogin > * {
    padding-top: 7px !important;
    padding-bottom: 4px !important;
    margin: 0 !important;
    font-size: 16px !important;
}

// .songs {
//     overflow: inherit !important;
// }

// .song-item {
//     color: #555 !important;
//     font-size: 14px;
// }

// /* .btn-songs {
//     margin-top: 5px;
// } */

// /* @media (max-width: 600px) {
//     .btn-songs {
//         margin-top: 0px;
//     }
// } */

// .collection:first-child {
//     border-top-left-radius: 5px;
//     border-top-right-radius: 5px;
// }

// .searcher {
//     border-bottom: 3px solid #1976D2 !important;
//     padding: 0 !important;
// }

// .search-line {
//     position: relative;
//     display: flex;
// }

// .search-line .label-icon {
//     min-width: 4rem;
//     height: 90%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     transform: none;
//     color: #9e9e9e;
//     font-size: 1rem;
//     -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
//     transition: color .2s ease-out, -webkit-transform .2s ease-out;
//     transition: transform .2s ease-out, color .2s ease-out;
//     transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
//     -webkit-transform-origin: 0% 100%;
//     transform-origin: 0% 100%;
//     text-align: initial;
//     padding-top: 1rem;
//     padding-bottom: 1rem;
// }

// .search-line i {
//     cursor: default;
// }

// #search {
//     font-size: 17px !important;
//     /* display: block; */
//     /* line-height: inherit; */
//     -webkit-transition: .3s background-color;
//     transition: .3s background-color;
//     height: inherit;
//     /* padding-left: 4rem; */
//     /* width: calc(100% - 8rem); */
//     flex: 1;
//     margin: 0;
//     border: 0;
//     -webkit-box-shadow: none;
//     box-shadow: none;
//     padding-top: 1rem;
//     padding-bottom: 1rem;   
// }

// #search:focus-visible {
//     outline: none;
// }

.btn-icon {
    cursor: pointer;
    border-left: 1px solid #e0e0e0;
    padding-left: 15px; 
    padding-right: 15px; 
    font-size: 17px !important
}

.btn-icon i {
    padding-left: 10px; 
    cursor: pointer;
}

.labelsInput {
    padding: 10px 20px 0 20px;
    /* transition: visibility 2s linear; */
}

.collection:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.collection-item.with-check {
    display: flex !important;
    justify-content: space-between;
    height: 42px !important;
    padding: 0 0 0 20px !important;
}

.collection-item.with-check > span {
    flex: 1;
    padding-top: 10px;
}

.collection-item.with-check > label {
    margin: 10px 0 0 10px;
    z-index: 20;
}